<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des contacts</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th> <th>Prénom</th><th>Nom</th><th>Date de naissance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>---</td> <td>---</td><td>---</td><td>---</td>
          </tr>
          <tr>
            <td>---</td> <td>---</td><td>---</td><td>---</td>
          </tr>
          <tr>
            <td>---</td> <td>---</td><td>---</td><td>---</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
